extends ../../_layout
block assets
  link(rel="asset" source="template.html" type="text/html" asset="template")
  link(rel="asset" source="data.json" type="text/json" name="string" asset="collection" schema="string")
  link(rel="asset" source="schema.json" type="text/json" name="string" asset="schema" )
  script.
    jom.env = "production"
    jom.app = {
      title       : "Profile",
      description : "Holds string information about a user.",
    }
  
block content
  component(template="string" collection="string:[0]")
