doctype
html
  head
    meta(charset="utf-8")
    link(rel="asset" type="text/css" source="/assets/css/main.css")
    script.
      document.createElement("component")
    link(rel="asset" type="text/css" source="/assets/-/fontello/css/fontello.css")
    script(src="/bower_components/webcomponentsjs/webcomponents.min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/jjv/lib/jjv.js")
    script(src="/dist/jom.js")
  
    block assets
  body
    if yield
      != yield
    else
      block content
    
