doctype
html
  head
    meta(charset="utf-8")
    link(rel="asset" type="text/css" source="/assets/css/main.css")
    script(src="/lib/main.js")

    link(rel="asset" type="text/css" source="/assets/-/fontello/css/fontello.css")
    link(rel="asset" type="text/javascript" source="/bower_components/platform/platform.js")
    link(rel="asset" type="text/javascript" source="/bower_components/es6-shim/es6-shim.min.js")
  
    block assets
  body
    if yield
      != yield
    else
      block content
    
