script(type='text/javascript', src="/bower_components/jquery/dist/jquery.min.js")
script(type='text/javascript', src="/form.class.js")
form(key="login")
  div(key="username" contenteditable="true")
  input(key="password")


script.
  new Form('form')
