extends ../../_layout
block assets
  //- //- Load JOM itself
  //- script(type="text/javascript" src="jom.min.js")

  //- load assets (order is not important)
  link(rel="asset" source="template.html" type="text/template" name="my_template")
  link(rel="asset" source="data.json" type="text/json" name="my_collection")
  style.
    component::shadow i.icon-location{color: red;}
    component::shadow i.icon-user{color: green;}

block content
  //- use the new component (when template and collection are ready)
  component(template="my_template" collection="my_collection" path="[0]")
