extends ../../_layout
block assets
  link(rel="asset" source="template.html" type="text/html" asset="template")
  link(rel="asset" source="data.json" type="text/json" asset="collection" name="expressions" schema="expressions")
  link(rel="asset" source="schema.json" type="text/json" asset="schema" name="expressions")
  style.
    #exp{background: white;}

block content
  script.
    jom.env = "production";
    jom.app = {
      title       : "Expressions",
      description : "A Working expressions"
    }
  component#exp(template="exp" collection="expressions")
