template
  link(rel="asset" source="../checklist/template.html" type="text/html")
  style.
    :host {display: block; padding: 20px; background: #900;  margin-bottom: 10px;}
    ul, li{list-style: none; margin: 0; padding: 0;}
    .list{width: 25%; background: #fefefe; display: inline-block;}
    .right{width: 70%; background: #900;display: inline-block;}
    .dashboard{display: block; }
    .inputs{display: block; min-width: 20%; background: #f5f5f5;}
    .exp{vertical-align: top; }
  div(body)
    div.exp
      ul.list
        li.item Gender
        li.item Colour
        li.item Category
      div.right
        div.dashboard Dash
        ul.inputs
          component(template="../number/template.html" collection="num")
          li.item
            div
              input(type="checkbox")
              label Red
            div
              input(type="checkbox")
              label Black
            
