extends ../../_layout
block assets
  link(rel="asset" source="template.html" type="text/template" name="**checklist**")
  link(rel="asset" source="data.json" type="text/collection" name="**checklist**")
  script.
    jom.app = {
      title       : "Profile",
      description : "Holds information about a user."
    }
  
block content
  component(template="template.html" collection="**checklist**:[0]")
