script(type='text/javascript', src="/bower_components/jquery/dist/jquery.min.js")
script(type='text/javascript', src="/core/Controls.class.js")
script.
  $data = {}
  $data["my_form_name"]={
    "name" : "My name",
    "username": "Valtid",
    "password": 123,
    "remember": false
  }

app(key="my_form_name")
  controller
    input(key="username")
    input(key="password")
    button Submit Button

  div(key="remember")
    span.yes Yes
    span.no No

style.
  .yes{display: none;}

script.
  $('body').on('change','[name="password"]', function (){
    console.log("Changed")
  })

  $('body')
  .on('click','.yes', function(){
    var p = $(this).parent()
    setTimeout(function(){
      console.log('Value: %s',p.data('value'))
    },0)
  })
  .on('click','.yes', function(){
    $(this).hide().siblings('.no').show()
    $(this).parent().data('value', true)
  })
  .on('click','.no', function(){
    $(this).hide().siblings('.yes').show()
    $(this).parent().data('value', true)
  })
