link(href="/assets/-/color-picker/css/colorpicker.css" type="text/css" rel="stylesheet")
link(href="/assets/main.css" type="text/css" rel="stylesheet")
script(type='text/javascript' src="/bower_components/jquery/dist/jquery.min.js")
script(type='text/javascript' src="/core/Controls.class.js")
script(type='text/javascript' src="/assets/-/color-picker/js/colorpicker.js")
script.
  $data = {app:{}}
  $data["app"]['login']={
    "name" : "My name",
    "username": "Valtid",
    "password": 123,
    "remember": false
  }

app(collection="app.login")
  form
    controller
      input(key="username")
      input(key="password")
      input(type="submit" value="Submit Button")

  div(key="remember")
    span.yes Yes
    span.no No

style.
  .yes{display: none;}

script.

  $('body')
  .on('click','.yes', function(){
    var p = $(this).parent()
    setTimeout(function(){
      console.log('Value: %s',p.data('value'))
    },0)
  })
  .on('click','.yes', function(){
    $(this).hide().siblings('.no').show()
    $(this).parent().data('value', true)
  })
  .on('click','.no', function(){
    $(this).hide().siblings('.yes').show()
    $(this).parent().data('value', true)
  })
