doctype
html
  head
    meta(charset="utf-8")
    link(rel="asset" type="text/css" source="/assets/css/main.css")
    link(rel="asset" type="text/css" source="/assets/-/prism/prism.css")
    script.
      document.createElement("component")
    link(rel="asset" type="text/css" source="/assets/-/fontello/css/animation.css")
    link(rel="asset" type="text/css" source="/assets/-/fontello/css/fontello.css")
    script(src="/assets/-/prism/prism.js")
    script(src="/bower_components/webcomponentsjs/webcomponents-lite.min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/jjv/lib/jjv.js")
    script(src="/assets/js/jom.js")
    script jom.env = "dev"
      
  
    block assets
  body
    if yield
      != yield
    else
      block content
    
