template(name="input")
  style.
    :host {display: block; padding: 20px; background: #f5f5f5;  margin-bottom: 10px;}
  div(body)
    label ${label}
    input(value="${key}")
  script.
    $(body)
    .on("click", "div", function(event){
      //- click event
    })
    ; //- end body
