.color-picker
  position relative
  & div
    position absolute
    top 4px
    left 4px
    width 28px
    height 28px
    background url(../images/select2.png) center

body
  background #333

:host
  display block
  padding 20px
  background white
  min-height 90px
  margin-bottom 10px
header
  font-size 30px
.icon-location
  font-size 25px
  color #900
img
  float right


.clearfix:after
  content "\00A0"
  display block
  clear both
  visibility hidden
  line-height 0
  height 0
.clearfix
  display inline-block
html[xmlns] .clearfix
  display block
* html .clearfix
  height 1%
.clearfix
  display block

component{display: block;}


.content{background: white; padding: 2em;}
