.color-picker
  position relative
  & div
    position absolute
    top 4px
    left 4px
    width 28px
    height 28px
    background url(../images/select2.png) center

body
  background #333

:host
  display block
  padding 20px
  background white
  min-height 90px
  margin-bottom 10px
header
  font-size 30px
.icon-location
  font-size 25px
  color #900
img
  float right


// Access the shadow
//
// component:nth-child(3n)::shadow
//   header
//     color #900
//   .icon-location
//     color green
