extends ../../_layout
block html_import
  link(rel="asset" source="template.html" type="text/html")

block content
  script.
    ason.app = {
      ns          : "datepicker",
      title       : "Datepicker",
      description : "A simple date picker.",
      //- schema      : "schema.js",
      collections : {"datepicker":[
        {date : "23/07/2014"},
        {date : "10/06/2013"}
      ]}
    }
  component(ns="datepicker" collection="datepicker[0]")
    data(key="value") Valtid
    
  select
    option(value="test")
