template(ns="datepicker")
  style.
    @import url("/assets/-/fontello/css/fontello.css");
    :host {display: block; padding: 20px; background: #fff;  margin-bottom: 10px;}
    .calendar{padding: 20px; background: red; display: none;}

  div(document) 
    div
      i.icon-calendar
      span \#{date}
      div.calendar  Show Calendar
  script.
    doc = shadow.document
    $("[document]", doc)
    .on("click", "i", function(event){
      debugger
      $('.calendar', doc).toggle()
    })
    
