template(ns="datepicker")
  style.
    @import url("/assets/-/beatpicker/css/BeatPicker.min.css")
    @import url("/assets/-/fontello/css/fontello.css");
    :host {display: block; padding: 20px; background: #fff;  margin-bottom: 10px;}
    .calendar{padding: 20px; background: red; display: none;}
    i{cursor: hand; cursor: pointer;}

  div(body)
    div
      i.icon-calendar
      span 
        <input type="text" data-beatpicker="true" >
      div.calendar  Show Calendar
    content(select="data")
  link(rel="asset" source="/assets/-/beatpicker/js/BeatPicker.min.js" type="text/javascript")
  script.
    body.onAssetLoad = function(){
      debugger
      //- BeatPicker
      window.v = shadow
    }
