extends ../../_layout
block assets
  link(rel="asset" source="../number/template.html" type="text/template" name="inputs")
  link(rel="asset" source="data.json" type="text/json" name="collection")
  script.
    jom.app = {
      title       : "Profile",
      description : "Holds information about a user."
    }
  
block content
  component(template="inputs" collection="collection" path="[0]")
