extends ../../_layout
block assets
  link(rel="asset" source="template.html" type="text/html" asset="template")
  link(rel="asset" source="data.json" type="text/json" name="profile" asset="collection" schema="profile")
  link(rel="asset" source="data2.json" type="text/json" name="profile2" asset="collection" schema="profile")
  link(rel="asset" source="schema.json" type="text/json" name="profile" asset="schema")
  script.
    jom.env = "production"
    jom.app = {
      title       : "Profile",
      description : "Holds profile information about a user.",
      schema      : "schema.js"
    }
  
block content
  component(template="profile" collection="profile")
  hr
  br
  a#test(href="#") Dynamic Collection changes
  script.
    $('body')
    .on('click', '#test',function(){
      $('component').attr('collection','profile2');
    })
  
