extends ../../_layout
block assets
  link(rel="asset" source="template.html" type="text/html" asset="template")
  link(rel="asset" source="data.json" type="text/json" name="profile" asset="collection" schema="profile")
  link(rel="asset" source="schema.json" type="text/json" name="profile" asset="schema")
  script.
    jom.env = "production"
    jom.app = {
      title       : "Profile",
      description : "Holds profile information about a user.",
      schema      : "schema.js"
    }
  
block content
  component(template="profile" collection="profile")
  //- component(template="profile" collection="profile:[1]")
  //- component(template="profile" collection="profile:[2]")
  
