extends ../../_layout
block assets
  link(rel="asset" source="template.html" type="text/template" name="profile")
  link(rel="asset" source="data.json" type="text/json" name="profile")
  script.
    jom.env = "production"
    jom.app = {
      title       : "Profile",
      description : "Holds profile information about a user.",
      schema      : "schema.js"
    }
  
block content
  component(template="profile" collection="profile")
  div#test Valtid
