extends ../../_layout
block assets
  link(rel="asset" source="template.html" type="text/template" name="news")
  link(rel="asset" source="fake.json" type="text/collection" name="news")

block content
  h1 test page
  component(template="template.html" collection="news:[0]")
    option(key="value1")
    option(key="value2")
  
  script.
    $('body')
    .on('change', 'component', function(event){
      debugger
      $(this)
    })
