template
  content(select="option")
  div(style="background: red;")
    div test template should show up
    div.text_div ${text}
  script.

    collection
    .on('change', 'text', function(event, changes){
      $('.text_div').text(text_div)
    })
    console.log( $(document) )
    $(body)
    .on('click','div', function(){
      //- Object.defineProperty window, "Root",
        //- get: -> new Shadow()
      debugger
      collection.find({}).text = 'valtid'
      
      console.log("We neeed to issue changes to the collection")
    })
 
