extends ../../_layout
block html_import
  link(rel="asset" source="template.html" type="text/html")
    
  script.
    ason = {}
    ason.env = "production"
    ason.app = {
      ns          : "profile",
      title       : "Profile",
      description : "Holds profile information about a user.",
      schema      : "schema.js",
      collections : {"profile": 'data.json', "users":[]}
    }
  
block content

  
  //- attr `ns` is used if collection is not used
  //- collection is a optional in-case collection has a different name
  //-     how ever it is advisable that the ns and collection be the same
  //-     to retain the one-point-of-reference idiology

  //- omit the collection attribute, to use ns as a fallback
  for item in [0,1,2]
    component(ns="profile" collection="profile[#{item}]")
  //- component(ns="profile")
  //- Use the collection attr
  //- component(ns="profile" repeat collection="user[0]")


  div.v(style="background: white;") 
    



    
  //- change this late on
  //- The double escape experiment
  script(type="text/javascript").
    $('body')
    .on('change', "component" , function (event, changes){
      changes
      //- debugger
    })
