extends ../../_layout
block assets
  link(rel="asset" source="template.html" type="text/template" name="profile")
  link(rel="asset" source="data.json" type="text/collection" name="profile")
  script.
    ason = {}
    ason.env = "production"
    ason.app = {
      ns          : "profile",
      title       : "Profile",
      description : "Holds profile information about a user.",
      schema      : "schema.js",
      collections : {"profile": 'data.json', "users":[]}
    }
  
block content
  component(template="template.html" collection="profile:[0]")
