//- script(src="/core/Template.class.js")
script(src="/core/Component.class.js")
script(src="/core/Prop.class.js")

script.
  JOM = {
    "collection": {
      "user": [
        {
          "name": {"first": "Valtid", "last": "Caushi"},
          "location": "London",
          "image":"http://placehold.it/90x90"
        },
        {
          "name": {"first": "Thomas", "last": "McKiernan"},
          "location": "Paris",
          "image":"http://placehold.it/90x90"
        },
        {
          "name": {"first": "Mario", "last": "Contessa"},
          "location": "Rome",
          "image":"http://placehold.it/90x90"
        }
      ]
    }
  }



template(ns="profile")
  style.
    @import url("/assets/-/fontello/css/fontello.css");
    :host {display: block; padding: 20px; background: #fff; min-height: 90px; margin-bottom: 10px;}
    header {font-size: 30px;}
    .icon-location {font-size: 25px; color: #900;}
    img {float: right;}

  img(src="\#{image}")
  header \#{name.first} \#{name.last}
  div
    span.icon-location
    span \#{location}



component(ns="profile" collection="user[0]")
component(ns="profile" collection="user[1]" class="different")
component(ns="profile" collection="user[2]")

component(ns="profile" collection="user[0]")
component(ns="profile" collection="user[1]" class="different")
component(ns="profile" collection="user[2]")
