extends ../../_layout
block html_import
  link(rel="import" href="template.html")
block content
  script.
    ason = {}
    ason.app = {
      ns: "profile",
      title: "Profile",
      description: "Holds profile information about a user.",
      schema : "schema.js",
      collections: {"profile": 'data.json'}
    }
  //- script(src="/core/Template.class.js")
  script(src="/core/Prop.class.js")
  script(src="/core/jsonpath.js")
  script(src="/core/JOM.class.js")
  script(src="/core/Collection.class.js")
  script(src="/core/Component.class.js")
  script(src="/core/App.class.js")

  //- attr `ns` is used if collection is not used
  //- collection is a optional in-case collection has a different name
  //-     how ever it is advisable that the ns and collection be the same
  //-     to retain the one-point-of-reference idiology

  //- omit the collection attribute, to use ns as a fallback
  component(ns="profile" repeat)
  //- Use the collection attr
  //- component(ns="profile" repeat collection="user[0]")






    
  //- change this late on
  //- The double escape experiment
  script(type="text/javascript").
    $('body').get(0).times_escaped = 0;
    $('body')
    .on('dblescape', function(){
      $('component').toggle()
    })
    .on('keyup', function (event){
      if(event.which==27){
        that = this
        this.times_escaped++;
        setTimeout (function (){
          if (that.times_escaped >= 2){
            //pressed it twice at least
            clearTimeout(timer);
            that.times_escaped = 0;
            $(that).trigger('dblescape')
          }
        }, 50)
        var timer = setTimeout(function(){
          that.times_escaped = 0;
        },500)
        
        
      }
    })
