
.icon-location:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-calendar-1:before { content: '\e803'; } /* '' */
.icon-calendar-empty:before { content: '\e804'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e805'; } /* '' */
.icon-comment:before { content: '\e806'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e807'; } /* '' */